{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-2">
    <img src= "{{ createjob.icon.url }}" class="img-fluid" />
  </div>
<div class="col-10">
    <a href="{{ createjob.url }}"><h1>{{ createjob.title }}</h1></a>
  </div>
</div>

<div class="row">
<!--  <div class="col-8">
    <img src="{{ createjob.image.url }}" class="img-fluid" />
  </div>-->
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"> Upvote {{ createjob.votes_total }}</button></a>
  </div>
</div>

<div class="row pt-2">
  <div class="col-4">
    <h4> Posted by {{ createjob.hunter.username }}</h4>
  </div>
  <div class="col-4 text-right">
    <h4> {{ createjob.pub_date_pretty }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <p>{{ createjob.description }}</p>
  </div>
</div>
<div class="row">
    <div class="col-8">
      <p> {{ createjob.contract }}<br>{{ createjob.address }}</p>
    </div>
  </div>
<form id="upvote" method="POST" action= "{% url 'upvote' createjob.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>

{% endblock %}