
{% extends 'base.html' %}
{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Find & Hire trustworthy Helpers near you!!</h1>
      <p class="lead text-muted">Easy, Quick, Reliable & Cost-effective.
        Find multiple professionally verified Workers near you, connect with them directly & hire anyone you like, without the middlemen in between</p>
        <p><h5><em>Thank you </em>for having interest !!</h5></p>
      <p>
        <a href="mailto:protivaahammed7137@gmail.com" class="btn btn-primary my-2">Email Us</a>
        
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">


        
    <div class="container">  <h1>About</h1>  <p><h5>Helper Guide enables millions of underprivileged and unorganized  workforce in finding local employment, free of cost, directly from the nearby employers, and without the middlemen in between.</br></br>
            In turn, Helper Guide ends up organizing the industry for millions of Households, Small Business Owners and Corporates. In a way which makes it easier, quicker, reliable & cost-effective for the employers to find & hire nearby  Workers, again without the middlemen in between.</br></br>
            With a larger vision to end poverty, forced labour, worker's exploitation, and human trafficking, Helper Guide working towards creating an ecosystem of inclusive economic growth for the underprivileged unorganised workforce of Bangladesh.</h5>
        </br>
    </br>
  </div>
  
  <div class="container"><h3>Why does it need to be  Helper Guide?</h3></br>    <p><h5>Simple choices affect the world we live in.

    For things that we consume every day, we are flooded with multiple choices from morning till evening .

    Some of the times, these simple choices that we make every moment affect our environment, planet or a group of individuals or community, directly or indirectly. And for the rest of the times, they are just simple means of earning financial gains.

    It is okay if an enterprise earns revenues for itself. However, we believe it would be great if financial gains could also impact the world we live in, either directly or indirectly. And therefore, make the world better than what it is.

   </br></br> At Helper Guide, we believe, with the help of technology, it is possible to make an ecosystem, which can help millions of  workforce in finding local employment opportunities, and also sustain itself in the process. We firmly believe that technology can impact the lives of millions, both directly & indirectly.

    And with your help, we have the capabilities to make this happen. </br></br>
    Welcome to connect with the workers directly, without the middlemen in between and impact the life of one, or a few, atleast of whom you can.</h5>
      </br>
  </br>
</div>




   

      </div>
    



    <div class="container">   <h3>Contract Us</h3>  <p><h5>Email : helperguide7137@gmail.com </br>
      Phn No. 01876589712 </br>
      Address: Mohammadpur,Dhaka-1207</h5>
  </br>
</br>
</div>

          


              </div>  
        </div>
  </div>



    </div>
  </div>

</main>
{% endblock %}
